{% extends 'base.html.twig' %}

{% block title %}BlaBlaCoin{% endblock %}

{% block body %}
    <!-- Masthead-->
    <header class="masthead">
        <h1 class="text-bright">Choose Your Adventure</h1>
    </header>
    <section class="container become-block">
        <div class="card-box-image">
            <div class="card-inner">

                <!-- // FRONT // -->
                <div class="card-front">
                    <img class="card-image-logo" src="{{ asset('img/carpooling.png') }}" alt="Logo">
                </div>

                <!-- // BACK // -->
                <div class="card-back">
                    <div class="card-back-container">
                        <div>
                            <h1 class="text-normal">Carpooling</h1>
                            <p class="text-bright">
                                Discover the best deals, get the best prices, and save money on your carpooling ride!
                            </p>
                        </div>
                        <button class="btn">Access</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-box-image">
            <div class="card-inner">

                <!-- // FRONT // -->
                <div class="card-front">
                    <img class="card-image-logo" src="{{ asset('img/selling.png') }}" alt="Logo">
                </div>

                <!-- // BACK // -->
                <div class="card-back">
                    <div class="card-back-container">
                        <div>
                            <h1 class="text-normal">Selling</h1>
                            <p class="text-bright">
                                Sell your items, cars, services to earn money, and have FUN!
                            </p>
                        </div>
                        <button class="btn">Access</button>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <hr class="divider"/>
    <section class="container">
        <div class="form-container">
            <form class="form">
{#                todo csrf#}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" required="">
                </div>
                <div class="form-group">
                    <label for="textarea">Message</label>
                    <textarea name="textarea" id="textarea" rows="10" cols="50" required=""></textarea>
                </div>
                <button class="form-submit-btn" type="submit">Submit</button>
            </form>
        </div>
    </section>
{% endblock %}
