<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="author" content="Axel Boulangé" />
    <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('img/dollar.png') }}"/>
        <link href="{{ asset('styles/s.css') }}" rel="stylesheet" />
</head>
<body id="page-top">
<!-- NAVBAR -->
<nav class="navbar">
        <a href="#" class="logo"><img
                    class="img-fluid"
                    src="{{ asset('img/logo.png') }}"
                    alt="Logo Picture"
            /></a>
        <div class="nav-links">
            <ul class="text-purple">
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Account</a></li>
            </ul>
        </div>
        <!-- MENU HAMBURGER -->
        <div class="menu-hamburger">
            <span class="bar-menu"></span>
            <span class="bar-menu"></span>
            <span class="bar-menu"></span>
        </div>
</nav>

        {% block body %}{% endblock %}

<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - Company Name</div></div>
</footer>
<!-- Core theme JS-->
<script src="{{ asset('scripts.js') }}"></script>
</body>
</html>
